<li>
	{{  burger_name  }}

	<button class="devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}MAKE AVAILABLE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>